

/***************Ã©lements principaux du corps de page*****************/

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1056px;
}

a {
    color: #191919;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

.bg-blue {
    background-color: #28a8db;
}

.white {
    color: #ffffff;
}

.left {
    float: left;
}

.right {
    float: right;
}

button {
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #28a8db;
    color: #ffffff;
}

h1 {
    font-weight: 100;
}









/***************HEADER*****************/

#logo_img {
    margin-top: 5px;
    position: absolute;
    width: 83%;
    z-index: 2;
}

header div#title {
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    margin-top: 20px;
}

#header_contents button {
    height: 80px;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 14px;
}

#header_profile {
    font-size: 10px;
    padding: 20px inherit 10px;
}

#header_profile p {
    font-size: 12px;
    line-height: 1.1;
    margin-top: 3px;
    margin-bottom: 8px;
}

#header_profile .username {
    color: #28a8db;
}

#header_profile .register {
    width: 100%;
    /* height: 80px; */
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}
#header_profile:hover .register {
    color: #28a8db;
}

#header_profile img {
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    border: solid #28a8db 2px;
    vertical-align: top;
    margin-right: 10px;
}

#header_bottom {
    background-color: #f1f1f1;
    padding: 5px 0;
}

#header_bottom .btn-group .btn {
    font-weight: bold;
    font-size: 12px;
    padding: 6px;
    background-color: #28a8db;
    border: none;
}

#header_bottom div a {
    vertical-align: -webkit-baseline-middle;
}

#header_menu {
    border-left: solid #e4e4e4 1px;
    padding: 0;
}
#header_menu button:hover {
    background-color: #28a8db;
    color: #ffffff;
}
#header_menu button:focus {
    background-color: #28a8db;
    color: #ffffff;
}

#header_menu .btn-group {
    width: 100%;
}

#header_menu button {
    height: 80px;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0;
}

#header_menu .dropdown-menu {
    right: 0;
    left: inherit;
    background-color: #28a8db;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

#header_menu .dropdown-menu a {
    color: #ffffff;
}

#header_menu .dropdown-menu li.dark {
    background-color: #2a93cc;
}

#header_menu .dropdown-menu li a:hover {
    background-color: rgba(255,255,255,.2);
}
















/******************Header switch button***************/
/* BONUS */













/***************Slider*****************/

/* TEST2 */













/********Section dÃ©couvrez nos contenus*********/

#content-discover {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 20px 20px 40px;
    margin-top: -60px;
    margin-bottom: 60px;
    position: relative;
}

#content-discover h2 {
    text-align: center;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 40px;
}

#content-discover h3 {
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0;
}

#content-discover .column {
    border-right: solid lightgrey 1px;
}

.img-column {
    width: 100%;
}

#content-discover p {
    margin: 30px 0;
    font-weight: 100;
    font-size: 20px;
}

#content-discover .more {
    font-weight: bold;
    text-align: right;
}














/********Section Tortor cras*********/

#tortor {
    padding: 20px 20px 40px;
    margin-bottom: 60px;
    position: relative;
}

#tortor h2 {
    text-align: center;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 40px;
}

#tortor h3 {
    text-align: center;
}

#tortor p {
    text-align: center;
}

#tortor button {
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: block;
    background-color: #28a8db;
}

#tortor img {
    margin: auto;
    display: block;
}













/***************FOOTER*****************/

footer {
    background-color: #414042;
    color: #8d8d8d;
    padding: 20px 40px;
    position: relative;
}

footer .sponsor_pict {
    width: 50px;
    height: 40px;
    background-color: rgba(255,255,255,.2);
    border: solid #8d8d8d 2px;
    border-radius: 3px;
}

#footer_sponsors {
    font-size: 11px;
}

#footer_sponsors p {
    margin-bottom: 0;
}

footer .buttons {
    position: absolute;
    right: 0;
    top: 0;
}

footer .buttons button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    height: 95px;
}
footer .buttons button:hover {
    color: rgba(255, 255, 255, .6);;
}